.float-bob-y {
  animation: floatY 4s ease-in-out infinite;
}

.float-bob-x {
  animation: floatX 4s ease-in-out infinite;
}

@keyframes floatY {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes floatX {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(20px); }
}
